header {
    height: 70px;
    background-color: lightblue;
    padding: 10px;
}

header h3 {
    right: 0;
}


.banner{
    text-align: center;
    
}

button{
    background-color: purple;
    color: white;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: plum;
}